{% comment %}
  Compact KSRI-style renderer: date | award title, awarder.
  Optional summary on a sub-line. Mirrors education/experience layout.
{% endcomment %}

<div class="news">
  <table class="table table-sm table-borderless">
    {% for entry in entries %}
      <tr>
        <th scope="row" style="width: 18%; vertical-align: top; font-weight: 600;">{{ entry.date }}</th>
        <td>
          <strong>{{ entry.title }}</strong>{% if entry.awarder %}, {{ entry.awarder }}{% endif %}.
          {% if entry.summary %}<br><span style="opacity: 0.85;">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
